.head {
  background-color: black;
  padding: 10px 40px;
}
.hero2-section {
  background-color: black;
  background-image: url(https://i.pinimg.com/1200x/ed/02/a9/ed02a95c36e0b8e20cd255f772681c1d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 300px 200px;
  margin-bottom: 100px;
}
.hero2-section__title {
  font-size: 40px;
  text-align: center;
}
.hero2-section__title-wr {
  background-color: rgb(5, 0, 0);
  opacity: 0.7;
  border-radius: 40px;
}
.history {
  background-color: black;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 100px;
}
.history__img {
  max-height: 500px;
}
.history__text {
  font-size: 30px;
  color: rgb(70, 59, 59);
}
/* --------------------- */
.teachers {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.teachers-wr {
  margin-bottom: 100px;
  background-color: rgb(24, 24, 24);
  padding: 20px;
}
.teachers__card-img {
  max-width: 390px;
  max-height: 500px;
  border-radius: 20px 20px 0 0;
}
.teachers__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(44, 43, 43);
  border-radius: 0 0 20px 20px;
  padding: 0 0px 40px 0;
}
.teachers__card-name {
  font-size: 30px;
  text-align: center;
}
.teachers__title {
  font-size: 40px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  color: grey;
}
.teachers__card-text {
  text-align: center;
  font-size: 20px;
}
.qestion__anwer-wr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.qestion__title {
  font-size: 40px;
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 30px;
}
.qestion__anwer {
  background-color: rgb(43, 41, 41);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qestion {
  background-color: rgb(46, 45, 45);
  background-image: url(https://i.pinimg.com/736x/20/bd/bd/20bdbd248c03d155cbdcb39db0319dbe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 100px;
}
