* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: antiquewhite;
  text-decoration: none;
  font-family: "Rubik 80s Fade", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: rgb(63, 62, 62);
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
